@import "tailwindcss";
@import "./theme/dark.css";
@import "./theme/light.css";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "PingFang SC", "Microsoft YaHei", sans-serif;
}

body {
  background-color: var(--c-bg-base);
  color: var(--c-text-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
